@import "../../../theme/_theme.module.scss";

.footer-w-h {
  width: 30%;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.footer-container{
  margin-top: 80px;
  margin-bottom: 80px;
  margin-left: auto;
  margin-right: auto;
  background-color: $white-color;
  width: 100%;
  height: 100%;
}

.footer-sign {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid $border-grey;
  padding-bottom: spacing(3);
}

.footer-media-icons {
  display: flex;
  justify-content: space-around;
  margin-top: spacing(2)
}

