@import "../../../theme/_theme.module.scss";

.avatar-style {
  border-radius: spacing(200);
  min-width: spacing(3);
  min-height: spacing(3);
  max-width: spacing(24);
  max-height: spacing(24);
  background-color: $border-grey;
}

.img-style {
  background-color: $light-blue;
  min-width: spacing(3);
  min-height: spacing(3);
}
