@import "../../../theme/_theme.module.scss";

.avatar-style {
  border-radius: spacing(200);
  width: 100%;
  height: 100%;
  background-color: $border-grey;
}

.img-style {
  background-color: $light-blue;
  min-width: spacing(3);
  min-height: spacing(3);
}
