@import "../../../theme/_theme.module.scss";

.header-container {
  position: absolute;
  width: 100%;
}

.header {
  background-color: $white-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 spacing(3.2) 0 spacing(3.2) ;
  min-height: spacing(10);
  border: solid 1px $border-grey;

  @media only screen and (min-width: 1200px){
    height: spacing(15);
    background-image: url("http://localhost:3000/assets/large-logo.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;

    .search-icon-mobile, .button-suscribe {
      display: none;
      }
  }

  @media only screen and (max-width: 1200px){
    justify-content: flex-end;
    background-image: url("http://localhost:3000/assets/medium-logo.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position-x: spacing(3.2);
    background-position-y: center;

    .buttons-hide{
      display: none;
    }
  }
}

.button-suscribe {
  background: transparent;
  color: $strong-blue;
  margin-right: spacing(2);
}

.container-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: $max-width-body;
  width: 100%;
}

.buttons-hide {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: spacing(64);
}

.suscribe-button {
  background-color: $alert-yellow;
  border: solid 1px $border-grey;
}

.login-button {
  background-color: transparent;
  border: solid 1px $strong-blue;
  color: $strong-blue;

}
