@import "./_normalize.scss";

$white-color: #ffffff;
$dark-color: #1c1c1f;
$light-blue: #bee4ff;
$strong-blue: #0074c4;
$medium-color: #977978;
$alert-yellow: #ffff24;
$alert-color: #c61c1e;
$light-black-text: #333333;
$light-pink: #ffeaf1;
$strong-pink: #c40f4d;
$border-grey: #cccccc;
$border-radius: 4px;

@function spacing($unit) {
  @return $unit * 5px;
}

button {
  border-radius: 8px;
  border: none;
  height: spacing(8);
  padding-left: spacing(3.2);
  padding-right: spacing(3.2);
  padding-top: spacing(2.4);
  padding-bottom: spacing(2.4);
  min-width: spacing(21);
}

h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
}
h2 {
  font-size: 24px;
}

h1,
h2,
h3 {
  font-weight: 700;
}
