@import "../../../theme/_theme.module.scss";

.labeled-style {
    display: flex;
    flex-direction: row;
}

.lead{
  margin-right: spacing(1);
  margin-left: spacing(1);
  &:after {
    content: ".";
  }
}