@import "../../../theme/_theme.module.scss";

.typography {
  margin: spacing(1);
}

a {
  text-decoration: none;
  &:visited{
    color: inherit;
  }
}

.lead-blue {
  color: $light-blue;
}

.lead-strong-blue {
  color: $strong-blue;
}

.lead-white {
  color: $white-color;
}

.lead-black{
  color: $dark-color;
}
