@import "../../../theme/_theme.module.scss";

.typography {
  margin: spacing(1);
}

.lead-blue {
  color: $light-blue;
}

.lead-white {
  color: $white-color;
}

.lead-black{
  color: $dark-color;
}
