@import "../../../theme/_theme.module.scss";

.container-recomemended-note {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.image-note {
  min-height: spacing(35.8);
  height: 100%;
  width: 100%;
}

.badge-note {
  position: absolute;
}

.container-badge-image {
  display: flex;
  flex-direction: column;
}

.typography-note {
  padding-bottom: spacing(1);
}